[class*="col-"] {
  /* border: 1px solid black; */
  /* background: pink; */
  height: 300px;
  text-align: left;
}

.navbar{
  height: 80px;
  background-color:red;
}

.jumbotron-style{
  background-color: #1ABC9C;
  text-align: center;
  display: inline-block;
  height: 400px;
  padding: 20px 0;

}
.avatar{
  height: 150px;
}
.lista>ul>li{
display: inline-block;
color: white;
padding: 0 10px;
}
.lista, .i{
  color:white;
}

h2{
  color: white;
}

.stella::after {
  content: '';
  display: inline-block;
  width: 30px;
  border-bottom: 2px solid black;
  margin-bottom:3px;
}
.stella::before {
  content: '';
  display: inline-block;
  width: 30px;
  border-bottom: 2px solid black;
  margin-bottom:3px;
}
.white::after {
  content: '';
  display: inline-block;
  width: 30px;
  border-bottom: 2px solid white;
  margin-bottom:3px;
}
.white::before {
  content: '';
  display: inline-block;
  width: 30px;
  border-bottom: 2px solid white;
  margin-bottom:3px;
}
.stella{
  height: 30px;
}
.white{
color: white;
}


.portfolio, .about, .download{
  text-align: center;
  height: 100px;
}
.what{
  height: 200px;
  background-color:#1ABC9C;
}
.what, #text{
color: white;
}
.bg-color{
 background-color:#1ABC9C;
}

.immagini{
  height: 250px;
}
.about{
  background-color:#1ABC9C;
}
p{
  text-align: center;
  color: white;
  font-size: 20px;
  margin-top:20px;
}
.footer{
  height: 200px;
  background-color: #3A546D;
  margin-top: 20px;
}
.footer>ul>li{
  display:inline-block;
}
