[class*="col-"] {
  /* border: 1px solid black; */
  /* background: pink; */
  /* height: 300px; */
  text-align: left;
}
.navbar{
  margin-bottom: 0;
  border:none;
  border-radius:0;
}
.navbar-default, .bl-navbar{
 background-color:#3A546D;
}

.navbar-default .navbar-nav>.active>a{
background-color:#3A546D;
color:white;
}
.bl-navbar {
  background-color: #3A546D;
  color: #fff;
}

.bl-navbar .navbar-brand, .bl-navbar .navbar-nav>li>a {
  color: #fff;
}

.bl-navbar .navbar-brand {
  font-size:24px;
  font-weight: bolder;
}

.bl-navbar .navbar-nav>li>a {
  font-weight: bolder;
}

.bl-navbar .navbar-brand:hover, .bl-navbar .navbar-nav>li>a:hover {
  color: #1ABC9C;
}


.jumbotron-style{
  background-color: #1ABC9C;
  text-align: center;
  display: inline-block;
  height: 400px;
  padding: 20px 0;

}
.avatar{
  height: 150px;
}
.lista>ul>li{
display: inline-block;
color: white;
padding: 0 10px;
}
.lista, .i{
  color:white;
  font-size: 25px;
}

h2{
  color: white;
}

.stella::after {
  content: '';
  display: inline-block;
  width: 30px;
  border-bottom: 2px solid black;
  margin-bottom:3px;
}
.stella::before {
  content: '';
  display: inline-block;
  width: 30px;
  border-bottom: 2px solid black;
  margin-bottom:3px;
}
.white::after {
  content: '';
  display: inline-block;
  width: 30px;
  border-bottom: 2px solid white;
  margin-bottom:3px;
}
.white::before {
  content: '';
  display: inline-block;
  width: 30px;
  border-bottom: 2px solid white;
  margin-bottom:3px;
}
.stella{
  height: 30px;
}
.white{
color: white;
}


.portfolio, .about, .download{
  text-align: center;
  height: 100px;

}
.what{
  height: 200px;
  background-color:#1ABC9C;
}
.what, #text{
color: white;
}
.bg-color{
 background-color:#1ABC9C;
}

.immagini{
  height: 250px;
  padding:10px 5px;
}
.about{
  background-color:#1ABC9C;
}

.bg-color2{
  background-color: #3A546D;
}
p{
  text-align: center;
  color: white;
  font-size: 20px;
  margin-top:20px;
}

/* form  */

.form{
  padding-left: 100px;
}

.bl-form ::placeholder{
  color:black;
  font-size: 15px;
}
.form-control{
  border:none;
  box-shadow: none;
}
.form-control{
  border-bottom: 1px solid grey;
  border-radius: 0px;

}
/* end form */

.footer{
  height: 200px;
  background-color: #3A546D;
  text-align: center;
  /* margin-top:30px; */
}
.footer>ul>li{
  display:inline-block;
  padding: 10px 10px;
  color: white;
}
.footer>ul{
  padding-left:0;
}
.copyright{
  text-align: center;
  background-color:lightblue;
  height: 100px;
  margin-top: 0;
}

.send{
  margin-bottom: 10px;
  background-color:#1ABC9C;
  margin-left: 100px;
  font-size: 20px;
}

.circle{
  border: 1px solid white;
  width:45px;
  border-radius:50px;
  height: 45px;
  padding-top: 10px;
}
