[class*="col-"] {
  border: 1px solid black;
  /* background: pink; */
  height: 300px;
  text-align: left;
}

.navbar{
  height: 80px;
  background-color: red;
}

.jumbatron-style{
  background-color: lightgreen;
  text-align: center;
  display: inline-block;
  height: 400px;
  padding: 20px 0;

}
.avatar{
  height: 150px;
}
.lista>ul>li{
display: inline-block;
color: white;
padding: 0 10px;
}
h2{
  color: white;
}

i::after {
  content: '';
  display: inherit;
  width: 30px;
  border-bottom: 2px solid white;
}
i::before {
  content: '';
  display: inherit;
  width: 30px;
  border-bottom: 2px solid white;
}

.portfolio, .about, .download{
  text-align: center;
  height: 100px;
}
.what{
  height: 200px;
  background-color: lightgreen;
}
.what, #text{
color: white;
}
.immagini{
  height: 250px;
}
.about{
  background-color: lightgreen;
}
